@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
  /* outline: 1px solid white; */
}

:root {
  --text-color-1: #20b2aa;
}

html, body {
  width: 100%;
  height: 100%;
}

body{
  background: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/heroBg.jpg");
  filter: blur(20px); 
  z-index: -1;
}


nav {
  padding: 2vh 2vh;
  height: 12vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background:transparent;
  
}

header .logo {
    padding-left: 5vh;
    height: 10vh;
}

.navbar-list {
  display: flex;
  gap: 8vh;
  list-style: none;
  
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.2vh;
  font-weight: 500;
  color: #fff;
  transition: all 0.1s;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--text-color-1);
}

#xbtn {
  display: none;
  cursor: pointer;
}

#toggle {
  display: none;
  cursor: pointer;

}

.sidebarToggleButtons {
  display: none;
}

.userFunctions {
   display: flex;
   gap:3vh;
   justify-content: center;
   align-items: center;
}

.userLogin
{
  background-color: #fff;
  width: 5vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vh;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 50%;
  overflow: hidden;
}


#homeSection{
   width: 100%;
   height: 88vh;
   display: flex;
}

.heroLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all; 
    animation: fadeIn 1s;  
}

.heroLeft h1 {
    width: 100%;
    font-size: 8vh;
    display: flex;
    justify-content: flex-end;
  }

.heroLeft pre {
  width: 100%;
  padding: 2vh 2vh;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.welcomeDescription {
   position: relative;
   left:-5vh;
}
.heroRight{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heroImg{
  width:80%;
  height: 80%;
  margin: auto;
  transition: 0.3s all;
  animation: spin 1.2s;
}

@keyframes spin {
  0% {
    transform:  rotate(0deg) ;  
  }
  100% {
    transform: rotate(360deg);  
  }
}

@keyframes fadeIn {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
   transform: translateX(0%);
   opacity: 1;
  }
}


.ourMenuHeading {
  display: flex;
  flex-direction: column;
  gap:0.5vh;
  justify-content: center;
  align-items: center;
  padding-top:5vh;
  padding-bottom: 2vh;
  color:white;
}

.underline {
  width:10vh;
  height:2px;
  background-color:var(--text-color-1);
}


.filter{
  display: flex;
  gap:2vh;
  justify-content: center;
  align-items: center;
  padding:2vh 2vh;
}

.filterButton {
   font-size: 1.8vh;
   font-weight: 500;
   width:12vh;
   height: 4vh;
   background: transparent;
   color:var(--text-color-1);
   border: 1px solid var(--text-color-1);
   border-radius: 1.2rem;
}

.filterButton:hover {
  background-color: var(--text-color-1);
  color:black;
}

.menu{
  min-width: none;
  display: grid;
  grid-template-columns:42vmin 42vmin 42vmin;
  gap:3vmin;
  justify-content: center;
  align-items: center;
}

.items{
  overflow: hidden;
  display: flex;
  background-color:transparent;
}

.items img {
  width:20vmin;
  height: 20vmin;
  border:2px solid var(--text-color-1);
  border-radius: 1.2rem;
}

.itemInfo{
  width: 20vmin;
  height: 20vmin;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  gap:0.3vh;
  color:white;
  padding: 1vh 1vh;
}

.itemName{
  text-transform: capitalize;
}

.price {
  color:var(--text-color-1);
}

#addToCartButton {
  font-size: 1.5vh;
  font-weight: 500;
  width:13vh;
  height: 3vh;
  background: var(--text-color-1);
  border: 1px solid var(--text-color-1);
  border-radius: 1.2rem;
}


.itemDescription{
 
  display: none;
  position: absolute;
  font-size: 1.5vh;
  padding: 1vh 0.3vh;
  font-style: italic;
  top: 20px;
  left: 0;
  background: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}

#reviewsSection{
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap:1vh;
  justify-content: center;
  align-items: center;
}

.review {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #20b2aa;
  border-radius: 2rem;
}

.reviewButtons button {
   width:2vh;
   height: 2vh;
   border: transparent;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.3);
}

#aboutSection{

}

#contactSection{

}

/* -------------------------------MEDIA--QUERIES---------------------- */

@media  screen and (max-width : 768px ) {
  .sidebarToggleButtons {
    display: block;
  }
  #toggle {
    display: block;
    z-index: 999;
  }
  
  .navbar {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    position: absolute;
    top: 0;
    left: 0;
    
    /* center it  */
    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition (to get the nave bar to the right) */
    transform: translateX(100%); 
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
  }

  .navbar-list{
    flex-direction: column;
    align-items: center;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  .active .navbar {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  
  }

  .active #xbtn {
    position: absolute;
    display: block;
  }

  .active #toggle {
    display: none;
  }
}